# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summareized

## Author
Adam Velazquez

**Objectives**
- Some popular languages for Data Science
- Common librairies used by Data Scientists
- Using python for basic arithmetic

Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. TensorFlow

|Data Science Tools|
-------------------
| Apache Sparks |
| Jupyter Notebook |
| Tableau |

### Below are a few examples of evaluating arithmatic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by using the conversion rate of 1 hour / 60 minutes

200/60

3.3333333333333335